{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="description" content="Valorant Strat Roulette">
        <meta name="keywords" content="Valorant, Strat, Roulette">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>
            {% block title %}
                Django + Tailwind CSS + Flowbite
            {% endblock title %}
        </title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
              rel="stylesheet" />
        {% tailwind_css %}
    </head>
    <body class="bg-gradient-to-br from-violet-500 to-fuchsia-500 font-sans leading-normal tracking-normal">
        <div class="container mx-auto">
            <section class="flex items-center justify-center min-h-screen">
                {% block content %}
                    <h1 class="text-5xl text-blue-400">Django + Tailwind = ❤️</h1>
                {% endblock content %}
            </section>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
        {% block script %}
        {% endblock script %}
    </body>
</html>
